---
import Blogs from "../ts/Blog.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <!-- <Blogs /> -->
    <!-- <div className="min-h-screen flex flex-col items-center scale-80 pt-32 pb-16 bg-transparent">
        <div className="text-white text-7xl font-bold text-center pb-16">
          Blogs
        </div>

        <div className="w-full max-w-6xl mb-16">
          <div className="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 p-4">
            {sortedBlogData.map((blog, index) => (
              <BlogCard
                key={index}
                title={blog.title}
                date={blog.date}
                author={blog.author}
                imageUrl={blog.imageUrl}
                url={blog.url}
              />
            ))}
          </div>
        </div>
      </div> -->
</Layout>
